<div class="head">
	<div class="ui container">
		<div class="ui pointing inverted menu">
		  <div class="header item">
		    Themes
		  </div>
		  {% for theme in themes %}
		  <a class="item {{ activeTheme==theme ? 'active' }}" href="IndexController/ct/{{theme}}">
		    {{theme}}
		  </a>
		  {% endfor %}
		</div>
	</div>
<form action ="{{path('home')}}" method="post">
	<input type="submit" value="home">
</form>

	<form action ="{{path('todos/new')}}" method="post">
		<input type="submit" value="home">
	</form>


</div>
</div>