<h1 style="color: #00b5ad">Section </h1> </br>

<div class="ui labeled button" >
    <div class="ui positive basic button">
        <i class="cart icon"></i>
        {{cart['nb']}}
    </div>
    <a class="ui basic green left pointing label" style="background-color: white">
        {{cart['montant']}} €
    </a>
</div>

<h4 style="color: grey">{{section.name}}</h4>

<hr style="color: #00b5ad; height: 2px">

<div class="ui cards">
{% for i in section.products %}
<div class="ui card" > <h1>{{i}}</h1>
 {{img('store/'~i.image~'.jpg', {class: ''})}}
    {{i.price}}
    <hr>
    <div class="ui positive button" > <i class="plus icon"></i> <a style="color: white" href="{{ path ('store.addToCart', [i.id, 1])}}">Add to cart</a> </div>
</div>
{% endfor %}
</div>
